@media only screen and (max-width: 600px) {
  header {
    position: fixed;
    z-index: 100;
  }
  header .m_menu {
    display: block;
  }
  header .menu {
    display: none;
  }
  header .rwd_menu {
    display: none;
  }
  .bg_video {
    display: none;
  }
  .bg_mobile {
    display: block;
  }
  .side_bar {
    display: none;
  }
  .sec_hr {
    height: 180px;
    background: url(../img/sec_bg.jpg);
    background-size: cover;
  }
  .sec_hr .sec_hr_slogan h1 {
    font-size: 16px;
  }
  .sec_1 .slogan {
    width: 80%;
    top: 50%;
  }
  .sec_1 .slogan h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .sec_1 .news_area {
    display: none;
  }
  .editor {
    display: none;
  }
  .sec_2 {
    display: block;
    overflow: hidden;
    padding: 10px 0;
  }
  .sec_2 .sec_2_logo {
    padding: 5px 0;
    width: 80%;
    margin: 0 auto;
  }
  .sec_2 .sec_2_logo img {
    width: 100%;
  }
  .sec_2 .intro_tab {
    position: relative;
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .sec_2 .intro_tab .tab {
    width: 100%;
    height: 250px;
  }
  .sec_2 .intro_tab .tab h2 {
    font-size: 20px;
  }
  .sec_2 .intro_tab .intro {
    display: block;
    position: relative;
    padding: 20px;
    top: -20px;
    width: 90%;
    margin: 0 auto;
  }
  .sec_2 .intro_tab .intro h4 {
    font-size: 14px;
    padding-bottom: 15px;
    letter-spacing: 2px;
  }
  .sec_2 .intro_tab .intro p {
    font-size: 12px;
  }
  .sec_3 .process {
    display: none;
  }
  .sec_3 .video_contain {
    width: 320px;
    transition: .3s;
    margin-top: 30px;
  }
  .sec_3 .video_contain .wrap {
    position: relative;
    left: 0px;
  }
  .sec_3 .video_contain .wrap .player_list {
    position: absolute;
    width: 320px;
    height: 360px;
    background-size: cover;
    background-position: center center;
  }
  .sec_3 .video_contain .wrap .player_list iframe {
    display: none;
  }
  .sec_3 .video_contain .mobile_next {
    display: block;
  }
  .sec_4 .village {
    width: 100%;
    display: block;
  }
  .sec_4 .village .map {
    width: 320px;
    margin: 0 auto;
    transform: scale(0.8, 0.8);
  }
  .sec_4 .village .detail {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .sec_4 .village .detail .direct li {
    top: 30%;
  }
  .sec_4 .village .detail .direct .next {
    right: 7%;
  }
  .sec_4 .village .detail .direct .prev {
    left: 7%;
  }
  .sec_4 .village .detail .guide_circle li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
  .sec_4 .village .detail .detail_slide {
    position: relative;
    display: flex;
    width: 90%;
    margin: 0 auto;
    left: 0;
  }
  .sec_4 .village .detail .detail_slide .detail_data {
    display: block;
    width: 100%;
    flex-shrink: 0;
    padding: 10px 0;
  }
  .sec_4 .village .detail .detail_slide .detail_data .detail_contain {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .sec_4 .village .detail .detail_slide .detail_data .detail_contain hr {
    width: 260px;
    margin: 10px auto;
  }
  .sec_4 .village .detail .detail_slide .detail_data .detail_img {
    width: 80%;
    margin: 10px auto;
  }
  .sec_4 .result {
    display: block;
    width: 80%;
  }
  .sec_4 .result .result_data {
    margin: 30px auto;
    display: block;
    width: 220px;
    height: 220px;
  }
  .sec_4 .result .result_data h2 {
    padding-top: 30px;
  }
  .sec_4 .media {
    width: 90%;
    margin: 0 auto;
  }
  .sec_4 .media .contain {
    display: block;
  }
  .sec_4 .media .contain article {
    margin-bottom: 20px;
  }
  .sec_4 .media .contain article h4 {
    display: inline-block;
  }
  .sec_4 .media .contain article img {
    display: none;
  }
  .sec_5 .contain .talk {
    width: 90%;
    height: 200px;
  }
  .sec_5 .contain .talk img {
    width: 80px;
  }
  .sec_5 .cooperator {
    width: 100%;
  }
  .sec_5 .cooperator .coo {
    width: 90%;
    margin: 20px auto;
    height: initial;
  }
  .sec_5 .cooperator .coo .coo_v,
  .sec_5 .cooperator .coo .coo_say {
    position: relative;
    display: block;
  }
  .sec_5 .cooperator .coo .coo_v {
    width: 100%;
    max-height: 200px;
  }
  .sec_5 .cooperator .coo .coo_say {
    top: 0;
    left: 0;
    width: 100%;
    height: initial;
    transform: translateY(0);
    box-sizing: border-box;
  }
  .sec_5 .hidden_video {
    width: 100%;
    height: 100%;
  }
  .sec_5 .hidden_video .contain {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    padding: 0px;
  }
  .sec_5 .hidden_video .contain .coo_video {
    width: 80%;
    height: 180px;
  }
  .sec_5 .hidden_video .contain .coo_video .coo_player {
    width: 100%;
  }
  .sec_5 .hidden_video .contain .coo_video .coo_player iframe {
    width: 100%;
    height: 180px;
  }
  .sec_5 .hidden_video .contain .video_close {
    width: 35px;
    height: 35px;
  }
  .sec_5 .hidden_video .contain .direct li {
    top: -15%;
  }
  .sec_5 .hidden_video .contain .video_close {
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
  }
  .sec_6 .joinus {
    width: 100%;
  }
  .sec_6 .joinus .join_title {
    width: 80%;
  }
  .sec_6 .joinus .join_title p {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .sec_6 .sec_contain {
    width: 100%;
    padding: 0 20px;
  }
  .sec_6 .contact {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .sec_6 .contact::before {
    display: none;
  }
  .sec_6 .contact .box {
    width: 100%;
    margin-bottom: 60px;
  }
  .sec_6 .quick_menu {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .sec_6 .quick_menu .q_link {
    margin: 10px 0;
  }
  .sec_6 .quick_menu .q_link:hover {
    background-color: #0c2e67;
  }
  .sec_6 .quick_menu .q_link:hover a {
    color: #fff;
  }
  footer .copyright span {
    display: block;
    margin: 5px 0;
  }
}
/*# sourceMappingURL=rwd.css.map */